@font-face {
  font-family: "iconfont"; /* Project id 3955138 */
  src: url('iconfont.woff2?t=1678960347280') format('woff2'),
       url('iconfont.woff?t=1678960347280') format('woff'),
       url('iconfont.ttf?t=1678960347280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoujitianchong:before {
  content: "\e6b9";
}

.icon-youxiyouxiji:before {
  content: "\e61f";
}

.icon-youxi1:before {
  content: "\e643";
}

.icon-youxitianchong:before {
  content: "\e6b5";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-aixin:before {
  content: "\eca2";
}

.icon-xiaoxi1:before {
  content: "\e61e";
}

.icon-xiaoxi:before {
  content: "\e618";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-shouye1:before {
  content: "\e8c6";
}

.icon-youxi:before {
  content: "\e60f";
}

.icon-sheji1-copy:before {
  content: "\eca3";
}

.icon-sheji:before {
  content: "\e79c";
}

.icon-sheji1:before {
  content: "\e653";
}

.icon-jiaxingshoucangtianchong:before {
  content: "\e683";
}

